<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Clientes
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Clientes</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            
            <div class="box-header">
              <a href="/admin/clients/create" class="btn btn-success">Cadastrar Cliente</a>
              <div class="box-tools">
                <form action="/admin/clients">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="search" class="form-control pull-right" style="width: 250px" placeholder="Pesquisar por fantasia, razão, liberado por..." value="{$search}">
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Fantasia</th>
                    <th>Razão</th>
                    <th>CNPJ</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Liberado por</th>
                    <th>Liberado em</th>
                    <th>Licença expira</th>
                    <th style="width: 15px">Dias restantes</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$clients"}
                  <tr>
                    <td>{$value.idclient}</td>
                    <td>{$value.desfantasia}</td>
                    <td>{$value.desrazsoc}</td>
                    <td>{$value.descnpj}</td>
                    <td>{$value.desnrphone}</td>
                    <td>{$value.desemail}</td>
                    <td>{$value.deslogin}</td>
                    <td>{function="formatDate($value.deslicregister)"}</td>
                    <td>{function="formatDate($value.deslicexpires)"}</td>
                    <td>{function="countDays($value.deslicregister, $value.deslicexpires)"}</td>
                    <td>
                      <a href="/admin/clients/{$value.idclient}/register" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> <b> Liberar</b></a>
                      <a href="/admin/clients/{$value.idclient}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="/admin/clients/{$value.idclient}/delete" onclick="return confirm('Tem certeza que quer excluir este cliente? A operação é irreversível')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                {loop="$pages"}
                <li><a href="{$value.href}">{$value.text}</a></li>
                {/loop}
              </ul>
            </div>
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->